nav ul{
		list-style:none;
		padding:8px 0 0 30px;
		
	}
	
li{
	display:inline; /*Block zu Inline*/
	
	}	
	
nav ul li a{
	
	text-decoration: none;	
	background: rgba(0, 255, 0, 0.4);
	padding: 5px 8px 5px 8px;
	color: mintcream;
	border: 1px solid mintcream;
	border-radius: 5px;
	margin-right: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	}
	
nav ul li a:hover{
					
					background:yellow;
					color: midnightblue;
					box-shadow:
					0 0 10 #fff,
					0 0 15 #fff,
					0 0 20 #fff,
					0 0 25 #fff
					
					;
					
					
	
					}	
	
	
	
	
	
	
	
	
	